body h2{
	color: white;
	text-shadow: 1px;
	margin-top: 25px;
	margin-bottom: 40px;
	margin-left: 500px;
	margin-right: 500px;
	text-decoration: underline;
	background-color: maroon;
	padding-left:10%
	width:10px; 
}


.container {
	margin-top: 20px;
}

.table {
	border-collapse: collapse;
	width: 100%;

}
.table td , th, tr  {
 	border: 1px solid #dddddd;
 	
 	text-align: left;
 	padding-right: 75px;
 	width:100%;
 	border:1px solid black;
 	border-collapse: collapse;
 	background-color: #f2f2f2;

}

td {
	padding: 10px;
	border: 1px solid black;
}
.title b {
	background-color: maroon;
	color: white;
	padding: 5px;
}

input[type='checkbox'] {
   
    width:15px;
    height:15px;
    background:white;
    border-radius:2px;
    border:1px solid #555;
}
