
*{
	box-sizing: border-box;
}

body{
	
	color:white;
	line-height: 1.6;
	font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
	padding:1em;
}

.container{
	max-width:1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

ul{
	list-style: none;
	padding:0;
}

.brand{
text-align: center;
}
.brand span{
	color: #fff;
}

.wrapper{
	box-shadow:0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper{
	padding:1em;
}

.login h3, .login ul{
	text-align:center;
	margin:0 0 1rem 0;
}

.contact{
	background:#f9feff;
}
#user-menu {
  display: flex;
  align-items: center;
  background-color: #C2185B;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}



